%h2
  Edit #{resource_name.to_s.humanize}

= simple_form_for(@user) do |f|
  = devise_error_messages!
  = f.input :name
  = f.input :email
  = f.input :password, :hint => "leave blank if you don't want to change it"
  = f.input :password_confirmation
  %hr
  = f.input :current_password, :hint => "needed to make changes"
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to 'Cancel', :back, :class => 'btn'
