.row
  .span6.offset3
    .devise
      .page-header
        %h2 Create a #{wandershot_text} account
      
 
      = simple_form_for(@user) do |f|
        = f.error_notification
      
        .form-inputs
          = f.input :name, :required => true, :autofocus => true
          = f.input :email, :required => true
          = f.input :password, :required => true
          = f.input :password_confirmation, :required => true
      
        .form-actions
          = f.button :submit, "Create account", :class => 'btn btn-large'
          or
          = link_to 'Connect to Facebook', '/auth/facebook', class: 'btn btn-large btn-facebook'

      %hr
      = render "links"
