.comments
  #comment-block
    - if @comments
      - @comments.each do |c|
        = render :partial => 'comments/show', :locals => { :comment => c }
  .new-comment-form
    - if current_user
      = form_for Comment.new, :html => {:'data-type' => 'html', :style => 'margin-bottom: 0px'}, :remote => true do |f|
        = f.text_area :text, :style => "width: 98%; height: 100px", :placeholder => "Comment on this #{type.to_s}..."
        = hidden_field type, :id
        = f.button :submit, :class => 'btn btn-mini'
    - else
      = render :partial => 'users/signup_link',  :locals => { :content => "Sign up" }
      or
      = render :partial => 'users/login_link',  :locals => { :content => "login" }
      to post a comment

