- if comment.errors.any?
  .alert.alert-error
    %a{:class=>'close',:"data-dismiss"=>'alert'} ×
    %strong Error
    Something went wrong!
- else
  .comment
    .author
      - if comment.user
        = image_tag comment.user.avatar(:thumb), :class => 'avatar'
      - else
        = image_tag 'avatar/avatar_default_96x96.png', :class => 'avatar'
      .name-and-date
        - if comment.user
          %span.name= link_to comment.user.name, user_path( comment.user )
        - else
          %span.name= comment.name
        %br
        %span.date= time_ago_in_words(comment.created_at) + " ago"

      .controls
        -if can? :manage, comment
          = link_to '&times;'.html_safe, comment, :method => :delete,
                                                  :class => 'delete-comment',
                                                  :remote => true
    .body
      .text= md comment.text
