.row
  .span6.offset3
    .devise
      .page-header
        %h2 Resend unlock instructions
      
      = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
        = f.error_notification
      
        = f.input :email, :required => true
        .form-actions
          = button_tag "Resend unlock instructions", :disable_with => "please wait...", :class => 'btn'
          or
          = link_to 'cancel', :back
      %hr
      = render "links"
