.page-header
  %h2 Change your password

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.input :reset_password_token, :hidden => true
  = f.input :password, "New password"
  = f.label :password_confirmation, "Confirm new password"

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'

= render "links"
