.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}= wandershot_text( darkbg = true )
 
      .nav-collapse
        %ul.nav
          %li= link_to "Browse", stories_path
          %li= link_to "Popular", popular_stories_path
        %ul.nav.pull-right
          - if user_signed_in?
            %li= link_to(current_user.name, edit_user_registration_path)
            %li= link_to('My stories', current_user)
            %li= link_to('New story', new_story_path)
            %li= link_to('Logout', destroy_user_session_path, :method=>'delete')
          - else
            %li= render :partial => 'users/login_link',  :locals => { :content => "Login" }
            %li= render :partial => 'users/signup_link', :locals => { :content => "Sign up" }
