.home
  .row
    .span8
      - if @main_post
        .main-image
          .center
            = link_to (image_tag @main_post.image.url(:large)), story_post_path(@main_post.story,@main_post)
    .span4
      .page-header
        %h1
          #{wandershot_text}
      %p
        Travel blogging. Simplified.
        
      %p
        #{wandershot_text} is designed to be a unobtrusive and minimalist way to record your travel stories and photos.
          
      .page-header
        %h2
          Explore...  dream...  discover...
      %p
        Get inspired for your next adventure.
      %p
        Have a look at some 
        = link_to 'popular posts', popular_stories_path
        or
        = link_to 'browse all stories', stories_path
  
      .page-header
        %h2
          Get started now
      %p
        Create an account and you can start posting immediately!
  
      %br
      - if !current_user
        .center
          = link_to 'Login with Facebook', '/auth/facebook', class: 'btn btn-large btn-facebook'
          %br
          %br
          or
          = render :partial => 'users/signup_link',
                   :locals => { :content => "create a new account" }
