= simple_form_for(@story) do |f|
  = f.error_notification
  = f.input :title, :placeholder => 'Cycling across America'

  = f.input :summary, :label => 'Trip Summary', :as => :text, :placeholder => 'Summarise your trip...'

  .form-actions
    = f.button :submit, "Submit", :class => 'btn btn-primary'
    or
    = link_to 'cancel', :back
