= simple_form_for(@story) do |f|
  = f.error_notification
  = f.input :title, :placeholder => 'Cycling across America'

  = f.input :summary, :label => 'Trip Summary', :as => :text, :placeholder => 'Summarise your trip...'

  = f.button :wrapped, :cancel => :back
