- output = story.posts.latest.map{|p| { 'address'   => p.address,
                                         'latitude'  => p.latitude,
                                         'longitude' => p.longitude,
                                         'post_id'   => p.id,
  'post_link' => (link_to (truncate(p.title) + " &raquo;".html_safe).html_safe, story_post_path(p.story,p)),
  'content'   => (render partial: 'posts/info_window', locals: { post: p }) }}

- if output.size > 0
  = content_tag 'div', nil, id: "gmaps-story-view",
                            data: { locations: "#{ output.to_json }" }

- if (defined? small) and (output.size > 0)
  .center.large-map-link
    = link_to 'view large map', (map_story_path story)
.map-controls
  .row
    - if !(defined? small)
      .span3
        &nbsp;
    .span1
      %span.prev= link_to '&larr; prev'.html_safe
    .span4.center
      %span.middle
    .span1
      %span.next= link_to 'next &rarr;'.html_safe
