.story
  .row
    .span12
      .controls
        - if current_user && current_user.id == @story.user.id
          = link_to 'Add post', new_story_post_path( @story ), :class => 'btn btn-mini'
          = link_to 'Edit story', edit_story_path( @story ), :class => 'btn btn-mini' 
          = link_to 'Delete story', edit_story_path( @story ), :class => 'btn btn-mini btn-danger' 
  .row
    .span12
      .page-header
        =render :partial => 'stories/title', :locals => { :story => @story }
        %h6 
          length: 
          %strong= @story.length_in_days.to_s + " days"
          | posts:
          %strong= @posts.size
  .row
    .span6
      .summary
        .page-header
          %h4 Summary
        = md @story.summary
    .span6
      = render :partial => 'posts/story_latest', :locals => { :post => @story.posts.last }

  %hr.soften
  .row
    .span12
      .page-header
        %h4 All posts in this story
      - if @posts.size == 0
        .row
          - 3.times do |i|
            = render :partial => 'posts/story_teaser', :locals => { :post => nil, :placeholder => true }
      - @posts.to_a.in_groups_of(3) do |posts|
        .row
          - posts.each do |p|
            = render :partial => 'posts/story_teaser', :locals => { :post => p, :placeholder => false }
