.row
  .span12
    .page-header
      %h1
        = @story.title
        %small
          by
          = link_to @story.user.name, @story.user
    %p
      = @story.summary

.row
  - @story.posts.each do |p|
    .span12
      .page-header
        %h2= p.title

      .row 
        .span2
          %ul.thumbnails
            %li.span2
              = link_to (image_tag "posts/morocco_#{[1,2,3].shuffle.first}.jpg"), '#', :class=>'thumbnail'
        .span10
          %p
            = p.text
