.story
  .row
    .span6
      .page-header
        =render :partial => 'stories/title', :locals => { :story => @story }
      .controls.center
        - if current_user && current_user.id == @story.user.id
          = link_to 'Add post', new_story_post_path( @story ), :class => 'btn btn-primary'
          = link_to 'Edit story', edit_story_path( @story ), :class => 'btn' 
          %hr

      .summary
        = md @story.summary

      %hr

      .center
        %h6 
          length: 
          %strong= @story.length_in_days.to_s + " days"
          | posts:
          %strong= @story.posts.size

    .span6
      = render :partial => 'posts/story_latest', :locals => { :post => @story.posts.last }

  .row
    .span12
      .page-header
        %h2 All posts in this story
      - if @story.posts.size == 0
        .row
          - 3.times do |i|
            = render :partial => 'posts/story_teaser', :locals => { :post => nil, :placeholder => true }
      - @story.posts.in_groups_of(3) do |posts|
        .row
          - posts.each do |p|
            = render :partial => 'posts/story_teaser', :locals => { :post => p, :placeholder => false }
