.story
  .row
    .span12
      = render 'controls'
  .row
    .span12
      = render partial: 'title', locals: { story: @story }
  .row
    .span4
      = md @story.summary
    .span8
      .small-map
        = render partial: 'stories/map'
      .center.large-map-link
        = link_to 'view large map', (map_story_path @story)
  .row
    .span12
      .post-teasers
        - if @posts.empty?
          .center
            = link_to 'Add post', new_story_post_path( @story ),
                      :class => 'btn btn-large btn-primary',
                      :id => 'new-post'
        - else
          - @posts.each do |post|
            = render partial: 'posts/teaser', locals: { post: post }
  .row
    .span12
      = render partial: 'comments/display_all_with_form', locals: { type: :story }
