.story
  .row
    .span12
      .controls
        - if current_user && current_user.id == @story.user.id
          = link_to 'Add post', new_story_post_path( @story ), :class => 'btn btn-mini', :id => 'new-post'
          = link_to 'Edit story', edit_story_path( @story ), :class => 'btn btn-mini' 
          = link_to 'Delete story', @story, :confirm => "Are you sure? This will irrevocably destroy your story and all associated posts!", :method => :delete, :class => 'btn btn-mini btn-danger'

  .row
    .span12
      .page-header
        =render :partial => 'stories/title', :locals => { :story => @story }
  .row
    .span4
      = md @story.summary
    .span8
      - output = @story.posts_with_locations.map{|p| { 'address'   => p.address,
                                                       'latitude'  => p.latitude,
                                                       'longitude' => p.longitude } }
      - if output.size > 0
        = content_tag 'div', nil, id: "gmaps-story-view", style: "width:100%;height:300px;", data: { locations: "#{ output.to_json }" }

  %hr

  .row
    .span12
      - if @posts.size == 0
        .row
          - 3.times do |i|
            = render :partial => 'posts/story_teaser', :locals => { :post => nil, :placeholder => true }
      - else
        - @posts.to_a.in_groups_of(3) do |posts|
          .row
            - posts.each do |p|
              = render :partial => 'posts/story_teaser', :locals => { :post => p, :placeholder => false }
  .row
    .span12
      .page-header
        %h2 Comments
      = render :partial => 'comments/display_all_with_form', :locals => { :type => :story }
