.story
  .row
    .span12
      = render 'controls'
  .row
    .span12
      = render partial: 'title', locals: { story: @story }
  .row
    .span4
      = md @story.summary
    .span8
      - output = @story.posts_with_locations.map{|p| { 'address'   => p.address,
                                                       'latitude'  => p.latitude,
                                                       'longitude' => p.longitude } }
      - if output.size > 0
        = content_tag 'div', nil, id: "gmaps-story-view",
                                  style: "width:100%;height:300px;",
                                  data: { locations: "#{ output.to_json }" }
  .row
    .span12
      .post-teasers
        - if @posts.empty?
          .center
            = link_to 'Add post', new_story_post_path( @story ),
                      :class => 'btn btn-large btn-primary',
                      :id => 'new-post'
        - else
          - @posts.each do |post|
            = render partial: 'posts/teaser', locals: { post: post }
  .row
    .span12
      = render partial: 'comments/display_all_with_form', locals: { type: :story }
