.story
  .row
    .span6
      .page-header
        =render :partial => 'stories/title', :locals => { :story => @story }
      .controls.center
        - if current_user && current_user.id == @story.user.id
          = link_to 'Add post', new_story_post_path( @story ), :class => 'btn btn-primary'
          = link_to 'Edit story', edit_story_path( @story ), :class => 'btn' 
          %hr

      .summary
        = md @story.summary
      %hr

      .center
        %h6 
          length: 
          %strong 42 days
          | posts:
          %strong= @story.posts.size
          | distance:
          %strong 526 miles

    .span6
      .page-header
        %h3 First post
      = render :partial => 'posts/teaser', :locals => { :post => @story.posts.first }
      .page-header
        %h3 Last post
      = render :partial => 'posts/teaser', :locals => { :post => @story.posts.last }
