- showfb = ((defined? showfb) ? showfb : false)
= simple_form_for(:user, :url => url) do |f|
  = f.input :email, :required => false, :autofocus => true 
  = f.input :password, :required => false

  .form-actions
    = button_tag "Sign in", :disable_with => "please wait...", :class => 'btn'
    - if showfb
      or
      = link_to 'login with Facebook', '/auth/facebook', class: 'btn btn-large btn-facebook', id: 'fb-connect'
