= simple_form_for([@story,@post], :defaults => { :input_html => { :class => 'span4' } }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :text, :as => :text
    = f.input :image, :label => "Add a photo"
    = f.input :address, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place name...'
    = f.input :latitude, :as => :hidden, :input_html => {:id => 'gmaps-output-latitude'}
    = f.input :longitude, :as => :hidden, :input_html => {:id => 'gmaps-output-longitude'}
    
  = f.button :wrapped, :cancel => :back

