.post-form
  = simple_form_for([@story,@post]) do |f|
    = f.error_notification
    .form-inputs
      .row
        .span6
          .page-header
            %h3 Details
          %p You must fill in fields marked with *
          = render partial: 'shared/markdown_instructions'
          = f.input :title
          = f.input :date, input_html: { id: 'datepicker' }
          <script>$('#datepicker').datepicker({format: 'dd/mm/yyyy'});</script>

          = f.input :text, :as => :text, :placeholder => "Description of the post..."
        .span6
          .page-header
            %h3 Location
          %p Click on the map, or type a place name in the search box.
          = f.input :address, input_html: {id: 'gmaps-input-address'}, 
                              placeholder: 'Start typing a place name...',
                              label: "Location"
          %p Latitude and longitude are determined when a valid place name is entered, or the map is clicked
          = f.input :latitude,  :disabled => true, :input_html => {:id => 'gmaps-output-latitude'}
          = f.input :longitude, :disabled => true, :input_html => {:id => 'gmaps-output-longitude'}
          #gmaps-error.alert.alert-error
          #gmaps-canvas
  
      .row
        .span12
          .page-header
            %h3 Picture
      .row
        .span6
          - if @post.image?
            = f.input :image, :label => "Choose a new photo:"
            = f.input :delete_image, :as => :boolean, :label => "Delete existing photo"
          - else
            = f.input :image, :label => "Add a photo:"
        .span6
          - if @post.image?
            .center
              = image_tag @post.image.url(:large), class: 'photo'
    .form-actions
      .span12
        = f.button :submit, "Submit post", :class => 'btn btn-large'
        or
        = link_to 'cancel', :back
