= simple_form_for([@story,@post]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :text, :as => :text
    = f.input :image, :label => "Add a photo"

  = f.button :wrapped, :cancel => :back
