.span4
  - if post || placeholder
    .post-teaser{:onclick=>"location.href='#{ post.nil? ?  new_story_post_path(@story) : story_post_path( @story, post )}';",
                 :style=>"cursor:pointer;"}
      .page-header
        - if placeholder
          %h3 Post title
        - else
          = render :partial => 'posts/title', :locals => { :post => post }
      - if placeholder || post.image?
        .center.image
          - if placeholder
            = image_tag 'http://placehold.it/340x200&text=post+image'
          - else
            = link_to (image_tag post.image.url(:medium)), story_post_path( @story, post )
      - if placeholder
        Description of your post...
      - else
        = truncate_html((md post.text), :length => 200, :omission => "...".html_safe)
        .center= link_to 'Read more »', story_post_path( @story, post )
