.post-teaser
  .image
    = (link_to (image_tag post.image(:small)), story_post_path(@story,post)) if post.image?
  .content
    .page-header.title
      %h3.date= post.get_date
      %h2.text= link_to post.title, story_post_path(@story, post)
      %h3.location= link_to post.get_location, map_story_path(@story)
    .body
      .text
        = truncate_html(md post.text)
        %br
        = link_to 'Read more &raquo;'.html_safe, story_post_path(@story,post), class: 'read-more'
