.post.teaser{id: "post-id-#{post.id}", :"data-post-id" => post.id}
  .text
    = render partial: 'posts/title', locals: { post: post, story: @story }
    .sidebar
      = (link_to (image_tag post.image(:medium)),
                 story_post_path(@story,post)) if post.image?
    .body
      = truncate_html((md post.text), length: 200)
      .read-more.center
        = link_to 'Read more &raquo;'.html_safe, story_post_path(@story,post)
