.page-header.title
  - if post.has_location?
    .topline
      %h1.title-text= link_to post.title, story_post_path(story, post)
    .bottomline
      %span.date= post.get_date
      %span.location= link_to (truncate(post.get_location, length: 40)), map_story_path(story)
  - else
    .bottomline
      %span.title-text= link_to post.title, story_post_path(story, post)
      %span.date= post.get_date
