.page-header.title
  - if !post.get_location.nil?
    .topline
      %h1.text= link_to post.title, story_post_path(story, post)
    .bottomline
      %h2.date= post.get_date
      %h2.location= link_to (truncate(post.get_location, length: 40)), map_story_path(story)
  - else
    .topline
      %h2.date= post.get_date
      %h1.text= link_to post.title, story_post_path(story, post)

