.post
  .row.clutter
    .span12
      = render 'controls'
  .row.clutter
    .span12
  .row
    .span4
      = render 'title'
      .body
        .text
          = md @post.text

      .navigation.minor-clutter
        = render 'navigation'

    .span8
      -if @post.image?
        .center.main-image
          = link_to (image_tag @post.image.url(:large)),
                    @post.image.url(:original),
                    class: 'lightbox'
  .row.minor-clutter
    .span12
      = render :partial => 'comments/display_all_with_form', :locals => { :type => :post }
