.post
  .row
    .span3
      .back.minor-clutter
        = link_to "&laquo; part of #{@post.story.title}".html_safe, story_path(@post.story)
      = render partial: 'posts/title', locals: { post: @post, story: @post.story }
      .body
        .text
          = md @post.text

      .navigation.minor-clutter
        = render 'navigation'
        %br
        = render 'shared/social'

      .minor-clutter
        = render :partial => 'comments/display_all_with_form', :locals => { :type => :post }

    .span9.main-image.attach
      -if @post.image?
        .center
          = link_to (image_tag @post.image.url(:large)),
                    @post.image.url(:original),
                    class: 'lightbox'
      -else
        - if (@post.user == current_user)
          .placeholder.minor-clutter
            .center
              = link_to 'Add a photo', edit_story_post_path(@story,@post)
