.post
  .row
    .span4
      .page-header
        = render :partial => 'posts/title', :locals => { :post => @post }
      -if @post.address
        %ul.thumbnails
          %li.span4
            .thumbnail
              = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@post.address}&zoom=10&size=500x300&maptype=terrain&sensor=false&", :class => "gmaps-image"
      = md @post.text

    .span8
      %ul.thumbnails
        %li.span8
          -if @post.image?
            .thumbnail
              = image_tag @post.image.url(:large)
 
  .controls.center
    - if current_user && current_user.id == @story.user.id
      = link_to 'Edit', edit_story_post_path(@story,@post), :class => 'btn btn-success'
    = link_to 'Back to story', story_path(@story), :class => 'btn'
