.post
  .row
    .span12
      .controls
        - if current_user && current_user.id == @story.user.id
          = link_to 'Edit', edit_story_post_path(@story,@post), :class => 'btn btn-mini'
          = link_to 'Delete', [@story,@post], :confirm => "Are you sure? This will irrevocably delete this post!", :method => :delete, :class => 'btn btn-mini btn-danger'
  .row
    .span4
      .page-header
        = render :partial => 'posts/title', :locals => { :post => @post }
      Part of
      = link_to @story.title, story_path(@story)
      %hr
      -if @post.address
        %ul.thumbnails
          %li.span4
            .thumbnail
              = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@post.address}&zoom=10&size=500x300&maptype=terrain&sensor=false&", :class => "gmaps-image"
      = md @post.text
    .span8
      %ul.thumbnails
        %li.span8
          -if @post.image?
            .thumbnail
              = image_tag @post.image.url(:large)

      .comments
        - if current_user
          .new-comment-form
            = form_for Comment.new, :html => {:style => 'margin-bottom: 0px'} do |f|
              = f.text_field :text, :style => "width: 100%", :placeholder => "Comment on this post..."
              = hidden_field :post, :id
              = # display off screen. needed for capybara tests.
              = f.button :submit, :style => "position: absolute; left: -9999px; width: 1px; height: 1px;"
        - else
          = link_to 'Sign up', new_user_registration_path
          or
          = link_to 'login', new_user_session_path
          to post a comment

        - @comments.each do |c|
          .comment
            %span.author= c.user.name
            %span.date= c.created_at.strftime('%d %B %Y')
            .text= c.text

            -if c.user == current_user
              = link_to 'Delete', c, :method => :delete, :class => 'btn btn-mini btn-danger'
