.post
  .row
    .span12
      = render 'controls'
  .row
    .span12
      = render 'title'
  .row
    .span4
      .content
        = md @post.text

      %hr
      = render 'navigation'

    .span8
      -if @post.image?
        .center.main-image
          = image_tag @post.image.url(:large)
  .row
    .span12
      = render :partial => 'comments/display_all_with_form', :locals => { :type => :post }
