!!!
%html{:"xmlns" => "http://www.w3.org/1999/xhtml", :"xmlns:og" => "http://ogp.me/ns#", :"xmlns:fb" => "https://www.facebook.com/2008/fbml"}
  %head
    %title Wandershot

    = render 'layouts/opengraph'

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode/svn/trunk/html5.js"

    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300'

    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"

    = csrf_meta_tags
    = favicon_link_tag

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    = render partial: 'shared/google_analytics'
  %body
    = render partial: 'shared/navbar'

    .container.content
      #userModal.modal.hide.fade
      = render partial: "shared/flash_messages", locals: {flash: flash}
      = yield
    
    = render partial: 'shared/footer'
